<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>jQuery File Upload Example</title>
</head>
<body>
<div class="file-field input-field">
    <div class="btn">
        <span>File</span>
        <input type="file" id="fileupload"  name="files[]" data-url="<?php echo $this->basePath().'/public/server/php/';?>" multiple>
    </div>
    <div class="file-path-wrapper">
        <input class="file-path validate" id="filepath"  type="text">
    </div>
</div>
<script src="<?php echo $this->basePath().'/public/vendor/jquery.ui.widget.js';?>"></script>
<script src="<?php echo $this->basePath().'/public/js/jquery.iframe-transport.js';?>"></script>
<script src="<?php echo $this->basePath().'/public/js/jquery.fileupload.js'?>"></script>
<script>
    $(function () {
        var nombres=$("#filepath");
        $(function () {
            $('#fileupload').fileupload({
                dataType: 'json',
                add: function (e, data) {
                    data.context = $('<button/>').text('Subir')
                        .appendTo(document.body)
                        .click(function () {
                            data.context = $('<p/>').text('Uploading...').replaceAll($(this));
                            data.submit();
                        });
                    console.log(data)
                    if(nombres.val()!="")
                        nombres.val(nombres.val()+"; "+data.files[0].name);
                    else
                        nombres.val(data.files[0].name);

                },
                done: function (e, data) {
                    data.context.text('Upload finished.');
                }
            });
        });
    });
</script>
</body>
</html>