
<script src="<?php echo $this->basePath() .'/public/js/habitacion/multimedia.js';?>"></script>
<script src="<?php echo $this->basePath().'/public/vendor/jquery.ui.widget.js';?>"></script>
<script src="<?php echo $this->basePath().'/public/js/jquery.iframe-transport.js';?>"></script>
<script src="<?php echo $this->basePath().'/public/js/jquery.fileupload.js'?>"></script>
<div class="row center-align">
    <div class="col s12 m10 offset-m1">
        <div class="row">
            <div class="col s12">
                <h1 class="page-header">Agregar multimedia</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="divider"></div>

        <div class="row card-panel">
            <div class="row col m6 s12">
                <div class="col m12">
                    <h4 class="col m6">Imágenes</h4>

                    <div class="file-field input-field col m6">
                        <div class="btn-floating waves-effect waves-light red lighten-2 hoverable tooltipped" data-position="right" data-delay="50" data-tooltip="Agregar imágenes">
                            <i class="material-icons right">add</i>
                            <input type="file" id="fileupload"  name="files[]" data-url="<?php echo $this->basePath().'/public/server/php/';?>" multiple>
                        </div>
                    </div>
                </div>
                <div class="divider col m12"></div>
                <div id="imagenes" class="row col m12">
                    <div id="idcoru"></div>
                    <div class="row col m12 panelimagenes">
                    </div>
                    <output id="list"></output>

                </div>
            </div>
            <div class="col m6 s12">
                <h4>Videos</h4>
                <div class="divider"></div>
            </div>

        </div>
    </div>
</div>
<input id="idhabitacion" value="<?= $id?>" type="hidden">
<input id="bibliotecaimage" value="" type="hidden">


