<?php echo $this->doctype(); ?>
<!DOCTYPE html>
<html lang="es">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<head>

	<meta charset="utf-8">


	<?php echo $this->headMeta()
		->appendName('viewport', 'width=device-width, initial-scale=1.0')
		->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	?>

	<!-- Le styles -->
	<?php echo $this->headLink(
		array('rel'  => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon',
			'href' => $this->basePath() . '/public/img/favicon.png')
	)


		->prependStylesheet(
			$this->basePath() . '/public/css/style.css'
		)->prependStylesheet(
			$this->basePath() . '/public/asset/materialize/css/materialize.min.css'
		)?>

	<!-- Scripts -->
	<?php echo $this->headScript()
		->prependFile(
			$this->basePath()
			. '/public/js/init.js'
		)
		->prependFile(
			$this->basePath()
			. '/public/asset/materialize/js/materialize.min.js'
		)->prependFile(
			$this->basePath() . '/public/asset/jquery/dist/jquery.min.js'
		);
	?>

	<meta name="description" content="Sistema de transporte">
	<meta name="author" content="Didepti">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->

</head>

<body class="nav-md">

<section id="container" class="">



	<nav class="nav-extended pink darken-1" style="position: fixed; z-index: 1000;">
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">Logo</a>
			<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="sass.html">Sass</a></li>
				<li><a href="badges.html">Components</a></li>
				<li><a href="collapsible.html">JavaScript</a></li>
			</ul>
			<ul class="side-nav" id="mobile-demo">
				<li><a href="sass.html">Sass</a></li>
				<li><a href="badges.html">Components</a></li>
				<li><a href="collapsible.html">JavaScript</a></li>
			</ul>

			<ul class="tabs tabs-transparent">
				<li class="tab"><a href="#test1">Test 1</a></li>
				<li class="tab"><a class="active" href="#test2">Test 2</a></li>
				<li class="tab"><a href="#test3">Disabled Tab</a></li>
				<li class="tab"><a href="#test4">Test 4</a></li>
				<li class="tab right" id="busqueda-li">
					<form>
						<div class="input-field">
							<input id="search" type="search" required>
							<label for="search"><i class="material-icons">search</i></label>
							<i class="material-icons">close</i>
						</div>
					</form>
				</li>

			</ul>

		</div>
	</nav>

	<section id="main-content" >
		<section class="wrapper">
			<div style="padding-top: 100px" >
				<?php echo $this->content; ?>

			</div>

			<footer class="page-footer pink darken-1">
				<div class="container">
					<div class="row">
						<div class="col l6 s12">
							<h5 class="white-text">Company Bio</h5>
							<p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


						</div>
						<div class="col l3 s12">
							<h5 class="white-text">Settings</h5>
							<ul>
								<li><a class="white-text" href="#!">Link 1</a></li>
								<li><a class="white-text" href="#!">Link 2</a></li>
								<li><a class="white-text" href="#!">Link 3</a></li>
								<li><a class="white-text" href="#!">Link 4</a></li>
							</ul>
						</div>
						<div class="col l3 s12">
							<h5 class="white-text">Connect</h5>
							<ul>
								<li><a class="white-text" href="#!">Link 1</a></li>
								<li><a class="white-text" href="#!">Link 2</a></li>
								<li><a class="white-text" href="#!">Link 3</a></li>
								<li><a class="white-text" href="#!">Link 4</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						Made by <a target="_blank" class="orange-text text-lighten-3" href="http://tecnologia.bravos.pe">Tecnología::Bravo's<img src=" <?echo $this->basePath()."/public/img/favicon.png"?>" height="20px" width="25px"></a>
					</div>
				</div>
			</footer>


		</section>
	</section>
	<!--main content end-->
</section>



<input type="hidden" id="baseUrl" value="<?= $this->basePath() ?>">

</body>

</html>
