<?php echo $this->doctype(); ?>
<!DOCTYPE html>
<html lang="es">

<head>

	<meta charset="utf-8">


	<?php echo $this->headMeta()
		->appendName('viewport', 'width=device-width, initial-scale=1.0')
		->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
	?>

	<!-- Le styles -->
	<?php echo $this->headLink(
		array('rel'  => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon',
		      'href' => $this->basePath() . '/img/favicon.ico')
	)


		->prependStylesheet(
			$this->basePath()
			. '/public/asset/bootstrap/dist/css/bootstrap.min.css'
		)
		->prependStylesheet(
			$this->basePath() . '/public/asset/css/bootstrap-theme.css'
		)
		->prependStylesheet(
			$this->basePath()
			. '/public/asset/css/elegant-icons-style.css'
		)
		->prependStylesheet(
			$this->basePath() . '/public/asset/css/font-awesome.min.css'
		)
		->prependStylesheet(
			$this->basePath()
			. '/public/asset/fullcalendar/fullcalendar/bootstrap-fullcalendar.css'
		)
		->prependStylesheet(
			$this->basePath() . '/public/asset/fullcalendar/fullcalendar/fullcalendar.css'
		)
		->prependStylesheet(
			$this->basePath() . '/public/asset/jquery-easy-pie-chart/jquery.easy-pie-chart.css'
		)
		->prependStylesheet(
			$this->basePath() . '/public/asset/css/owl.carousel.css'
		)
		->prependStylesheet(
			$this->basePath() . '/public/asset/css/jquery-jvectormap-1.2.2.css'
		)
		->prependStylesheet(
			$this->basePath() . '/public/asset/css/fullcalendar.css'
		)
		->prependStylesheet(
			$this->basePath() . '/public/asset/css/style.css'
		)
		->prependStylesheet(
			$this->basePath() . '/public/asset/css/style-responsive.css'
		)
		->prependStylesheet(
			$this->basePath() . '/public/asset/css/xcharts.min.css'
		)
		->prependStylesheet(
			$this->basePath() . '/public/asset/css/jquery-ui-1.10.4.min.css'
		) ?>

	<!-- Scripts -->
	<?php echo $this->headScript()


		->prependFile(
			$this->basePath()
			. '/public/asset/js/jquery.slimscroll.min.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/charts.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/sparklines.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/morris.min.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/gdp-data.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/jquery.placeholder.min.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/jquery.autosize.min.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/xcharts.min.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/jquery-jvectormap-world-mill-en.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/jquery-jvectormap-1.2.2.min.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/easy-pie-chart.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/easy-pie-chart.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/scripts.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/chart-master/Chart.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/fullcalendar/fullcalendar/fullcalendar.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/calendar-custom.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/fullcalendar.min.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/owl.carousel.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/jquery-easy-pie-chart/jquery.easy-pie-chart.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/jquery.sparkline.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/jquery-knob/js/jquery.knob.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/jquery.nicescroll.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/jquery.scrollTo.min.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/bootstrap/dist/js/bootstrap.min.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/jquery-ui-1.9.2.custom.min.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/jquery-ui-1.9.2.custom.min.js'
		)->prependFile(
			$this->basePath()
			. '/public/asset/js/jquery-ui-1.10.4.min.js'
		)
		->prependFile(
			$this->basePath() . '/public/asset/jquery/dist/jquery.min.js'
		);
	?>

	<meta name="description" content="Sistema de transporte">
	<meta name="author" content="Didepti">


	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script
		src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script
		src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>

<body class="nav-md">

<section id="container" class="">


	<header class="header dark-bg">
		<div class="toggle-nav">
			<div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class="icon_menu"></i></div>
		</div>

		<!--logo start-->
		<a href="index.html" class="logo">Nice <span class="lite">Admin</span></a>
		<!--logo end-->

		<div class="nav search-row" id="top_menu">
			<!--  search form start -->
			<ul class="nav top-menu">
				<li>
					<form class="navbar-form">
						<input class="form-control" placeholder="Search" type="text">
					</form>
				</li>
			</ul>
			<!--  search form end -->
		</div>

		<div class="top-nav notification-row">
			<!-- notificatoin dropdown start-->
			<ul class="nav pull-right top-menu">

				<!-- task notificatoin start -->
				<li id="task_notificatoin_bar" class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="icon-task-l"></span></i>
								<span class="badge bg-important">6</span>
					</a>
					<ul class="dropdown-menu extended tasks-bar">
						<div class="notify-arrow notify-arrow-blue"></div>
						<li>
							<p class="blue">You have 6 pending letter</p>
						</li>
						<li>
							<a href="#">
								<div class="task-info">
									<div class="desc">Design PSD </div>
									<div class="percent">90%</div>
								</div>
								<div class="progress progress-striped">
									<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
										<span class="sr-only">90% Complete (success)</span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="task-info">
									<div class="desc">
										Project 1
									</div>
									<div class="percent">30%</div>
								</div>
								<div class="progress progress-striped">
									<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%">
										<span class="sr-only">30% Complete (warning)</span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="task-info">
									<div class="desc">Digital Marketing</div>
									<div class="percent">80%</div>
								</div>
								<div class="progress progress-striped">
									<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
										<span class="sr-only">80% Complete</span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="task-info">
									<div class="desc">Logo Designing</div>
									<div class="percent">78%</div>
								</div>
								<div class="progress progress-striped">
									<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: 78%">
										<span class="sr-only">78% Complete (danger)</span>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#">
								<div class="task-info">
									<div class="desc">Mobile App</div>
									<div class="percent">50%</div>
								</div>
								<div class="progress progress-striped active">
									<div class="progress-bar"  role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
										<span class="sr-only">50% Complete</span>
									</div>
								</div>

							</a>
						</li>
						<li class="external">
							<a href="#">See All Tasks</a>
						</li>
					</ul>
				</li>
				<!-- task notificatoin end -->
				<!-- inbox notificatoin start-->
				<li id="mail_notificatoin_bar" class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
						<i class="icon-envelope-l"></i>
						<span class="badge bg-important">5</span>
					</a>
					<ul class="dropdown-menu extended inbox">
						<div class="notify-arrow notify-arrow-blue"></div>
						<li>
							<p class="blue">You have 5 new messages</p>
						</li>
						<li>
							<a href="#">
								<span class="photo"><img alt="avatar" src="./img/avatar-mini.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Greg  Martin</span>
                                    <span class="time">1 min</span>
                                    </span>
                                    <span class="message">
                                        I really like this admin panel.
                                    </span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="photo"><img alt="avatar" src="./img/avatar-mini2.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Bob   Mckenzie</span>
                                    <span class="time">5 mins</span>
                                    </span>
                                    <span class="message">
                                     Hi, What is next project plan?
                                    </span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="photo"><img alt="avatar" src="./img/avatar-mini3.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Phillip   Park</span>
                                    <span class="time">2 hrs</span>
                                    </span>
                                    <span class="message">
                                        I am like to buy this Admin Template.
                                    </span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="photo"><img alt="avatar" src="./img/avatar-mini4.jpg"></span>
                                    <span class="subject">
                                    <span class="from">Ray   Munoz</span>
                                    <span class="time">1 day</span>
                                    </span>
                                    <span class="message">
                                        Icon fonts are great.
                                    </span>
							</a>
						</li>
						<li>
							<a href="#">See all messages</a>
						</li>
					</ul>
				</li>
				<!-- inbox notificatoin end -->
				<!-- alert notification start-->
				<li id="alert_notificatoin_bar" class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">

						<i class="icon-bell-l"></i>
						<span class="badge bg-important">7</span>
					</a>
					<ul class="dropdown-menu extended notification">
						<div class="notify-arrow notify-arrow-blue"></div>
						<li>
							<p class="blue">You have 4 new notifications</p>
						</li>
						<li>
							<a href="#">
								<span class="label label-primary"><i class="icon_profile"></i></span>
								Friend Request
								<span class="small italic pull-right">5 mins</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="label label-warning"><i class="icon_pin"></i></span>
								John location.
								<span class="small italic pull-right">50 mins</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="label label-danger"><i class="icon_book_alt"></i></span>
								Project 3 Completed.
								<span class="small italic pull-right">1 hr</span>
							</a>
						</li>
						<li>
							<a href="#">
								<span class="label label-success"><i class="icon_like"></i></span>
								Mick appreciated your work.
								<span class="small italic pull-right"> Today</span>
							</a>
						</li>
						<li>
							<a href="#">See all notifications</a>
						</li>
					</ul>
				</li>
				<!-- alert notification end-->
				<!-- user login dropdown start-->
				<li class="dropdown">
					<a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                                <img alt="" src="img/avatar1_small.jpg">
                            </span>
						<span class="username">Jenifer Smith</span>
						<b class="caret"></b>
					</a>
					<ul class="dropdown-menu extended logout">
						<div class="log-arrow-up"></div>
						<li class="eborder-top">
							<a href="#"><i class="icon_profile"></i> My Profile</a>
						</li>
						<li>
							<a href="#"><i class="icon_mail_alt"></i> My Inbox</a>
						</li>
						<li>
							<a href="#"><i class="icon_clock_alt"></i> Timeline</a>
						</li>
						<li>
							<a href="#"><i class="icon_chat_alt"></i> Chats</a>
						</li>
						<li>
							<a href="login.html"><i class="icon_key_alt"></i> Log Out</a>
						</li>
						<li>
							<a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
						</li>
						<li>
							<a href="documentation.html"><i class="icon_key_alt"></i> Documentation</a>
						</li>
					</ul>
				</li>
				<!-- user login dropdown end -->
			</ul>
			<!-- notificatoin dropdown end-->
		</div>
	</header>
	<!--header end-->

	<!--sidebar start-->
	<aside>
		<div id="sidebar"  class="nav-collapse ">
			<!-- sidebar menu start-->
			<ul class="sidebar-menu">
				<li class="active">
					<a class="" href="index.html">
						<i class="icon_house_alt"></i>
						<span>Dashboard</span>
					</a>
				</li>
				<li class="sub-menu">
					<a href="javascript:;" class="">
						<i class="icon_document_alt"></i>
						<span>Forms</span>
						<span class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub">
						<li><a class="" href="form_component.html">Form Elements</a></li>
						<li><a class="" href="form_validation.html">Form Validation</a></li>
					</ul>
				</li>
				<li class="sub-menu">
					<a href="javascript:;" class="">
						<i class="icon_desktop"></i>
						<span>UI Fitures</span>
						<span class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub">
						<li><a class="" href="general.html">Elements</a></li>
						<li><a class="" href="buttons.html">Buttons</a></li>
						<li><a class="" href="grids.html">Grids</a></li>
					</ul>
				</li>
				<li>
					<a class="" href="widgets.html">
						<i class="icon_genius"></i>
						<span>Widgets</span>
					</a>
				</li>
				<li>
					<a class="" href="chart-chartjs.html">
						<i class="icon_piechart"></i>
						<span>Charts</span>

					</a>

				</li>

				<li class="sub-menu">
					<a href="javascript:;" class="">
						<i class="icon_table"></i>
						<span>Tables</span>
						<span class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub">
						<li><a class="" href="basic_table.html">Basic Table</a></li>
					</ul>
				</li>

				<li class="sub-menu">
					<a href="javascript:;" class="">
						<i class="icon_documents_alt"></i>
						<span>Pages</span>
						<span class="menu-arrow arrow_carrot-right"></span>
					</a>
					<ul class="sub">
						<li><a class="" href="profile.html">Profile</a></li>
						<li><a class="" href="login.html"><span>Login Page</span></a></li>
						<li><a class="" href="blank.html">Blank Page</a></li>
						<li><a class="" href="404.html">404 Error</a></li>
					</ul>
				</li>

			</ul>
			<!-- sidebar menu end-->
		</div>
	</aside>
	<!--sidebar end-->

	<!--main content start-->

	<section id="main-content">
		<section class="wrapper">
			<?php echo $this->content; ?>
			<hr>
			<footer>
				<p>&copy; <?php echo date('Y') ?> Sistema de transporte
					- <?php echo $this->translate(
						'All rights reserved'
					) ?> Didepti</p>
			</footer>

		</section>
	</section>
	<!--main content end-->
</section>



<input type="hidden" id="baseUrl" value="<?= $this->basePath() ?>">

</body>

</html>
